{
  "MagicLink": {
    "Issuer": "MagicLink",
    "Audience": "MagicLink",
    "SecretKey": "YourS3cr3tK3yG0esH3r3!!!",
    "TokenExpirationMinutes": 0.125,
    "MagicLinkBaseUrl": "https://magiclink.local/magiclink",
    "EmailServiceType": "Smtp",
    "MailServer": "localhost",
    "MailKitPort": 25,
    "MailKitUseSsl": false,
    "MailKitUsername": "",
    "MailKitPassword":  "",
    "SendGridApiKey": ""
  },
  "ConnectionStrings": {
    "Redis": "localhost:6379"
  },
  "Smtp": {
    "Server": "localhost",
    "Port":  25
  }
}